<!DOCTYPE html>
<html lang="en">

<head>
    {{--  <title>Carmana รถบ้าน แหล่งรวมรถบ้านมือสอง ซื้อตรงกับเจ้าของไม่ผ่านคนกลาง</title>  --}}
    <link rel="shortcut icon" href="https://carmana.com/favicon.png">

    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="https://carmana.com/manifest.json">
    <link rel="shortcut icon" href="https://carmana.com/favicon.png">
    <title>Carmana รถบ้าน แหล่งรวมรถบ้านมือสอง ซื้อตรงกับเจ้าของไม่ผ่านคนกลาง</title>
    <script src="https://connect.facebook.net/signals/plugins/identity.js?v=2.9.46" async=""></script>
    <script type="text/javascript" async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://d.line-scdn.net/n/line_tag/public/release/v1/lt.js"></script>
    <script src="https://connect.facebook.net/signals/config/417225671955417?v=2.9.46&amp;r=stable" async=""></script>
    <script id="facebook-jssdk" src="https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js"></script>
    <script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NS6456S"></script>
    <script async="" src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script async="" src="https://cdnjs.cloudflare.com/ajax/libs/es7-shim/6.0.0/es7-shim.js"></script>
    <script>
        ! function (e, t, a, n, g) {
            e[n] = e[n] || [], e[n].push({
                "gtm.start": (new Date).getTime(),
                event: "gtm.js"
            });
            var m = t.getElementsByTagName(a)[0],
                r = t.createElement(a);
            r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-NS6456S", m.parentNode.insertBefore(r, m)
        }(window, document, "script", "dataLayer")
    </script>
    <script src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/NittiGrotesk-Bold.e8e8f1db.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/NittiGrotesk-Medium.afcef121.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/NittiGrotesk-SemiLight.7640c7e8.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/NittiGrotesk.e6ba2349.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/DBSaiKrokX-Bold.ee154d47.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/DBSaiKrokX-Regular.8f4f1baf.woff2"
        type="font/woff2" as="font" crossorigin="">
    <link rel="preload" href="https://carmana.comhttps://carmana.com/static/media/slick.b7c9e1e4.woff" type="font/woff"
        as="font" crossorigin=""> -->


    <link href="https://carmana.com/static/css/main.01f238a1.css" rel="stylesheet">
    <!-- boottrap 5-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- bootstrap 4.6 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  

    <!-- call css -->
    <link rel="stylesheet" href="src/css/app.css" type="text/css">
    <!-- call js -->
    <script type="text/javascript" src="src/js/app.js"></script>
    <!-- w3 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    @entryPointStyles('app')
    @entryPointScripts('app')
   
</head>

<body>
    <div id="main-carmana">
        <div lang="th">

            <header class="header-section">
                @include('point.header')
            </header>

            <div class="car-list-page">
                <a href="/carmana-sales-assisted-cars">
                    <div class="banner"
                        style="background-image: url(&quot;https://s3-ap-southeast-1.amazonaws.com/carmana-static/static/permanent/banner-cars-list.jpg&quot;); background-position: center center; background-repeat: no-repeat; background-size: contain;">
                    </div>
                </a>
                <div class="cmn-container root-container">
                    <div class="filter-container hidden-tablet-down">
                        <div class="FilterCarList"><input name="page" type="hidden" value="1">
                            <div class="FilterCarList__titleContainer">
                                <div class="FilterCarList__title"> <h2 class="sizefont1">ค้นหารถบ้าน</h2></div>
                                    <button class="TextButton FilterCarList__clearAll hidden-tablet-down" onclick="window.location = `/cars`">ตั้งค่าใหม่</button>
                            </div>

                            <!-- กล่องข้างๆ -->
                            <div class="accordion" id="accordionExample">
                                <!-- ยี่ห้อและรุ่น -->
                                <div class="card">
                                    @include('components.filter.logocars')
                                    <div class="cmn-collapse FilterCarList__container hidden-tablet-down">
                                        <button class="cmn-collapse-header FilterCarList__collapseButton" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">

                                            <span
                                                class="cmn-typo-subheader FilterCarList__titleButton">ยี่ห้อและรุ่น</span>
                                            <span class="cmn-collapse-header-icon">
                                            </span>
                                            <span class="cmn-collapse-text-value">
                                            </span>
                                        </button>
                                    </div>


                                    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="FilterCarListOption__containerBrand"><button
                                                class="FilterCarListOption__buttonBrand FilterCarListOption__text active">ทุกยี่ห้อและรุ่น</button>
                                        </div>
                                        @include('components.filter.cartypebox')                                  


                                    </div>
                                </div>



                                <!-- ราคา -->
                                <div class="card">
                                    <div class="cmn-collapse FilterCarList__container hidden-tablet-down"
                                        id="headingThree">
                                        <button class="cmn-collapse-header FilterCarList__collapseButton" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">

                                            <span class="cmn-typo-subheader FilterCarList__titleButton">ราคา</span>
                                            <span class="cmn-collapse-header-icon">
                                            </span>
                                            <span class="cmn-collapse-text-value">
                                            </span>
                                        </button>
                                    </div>


                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="cmn-collapse-content">
                                            @include('components.filter.price')                                            
                                        </div>
                                    </div>


                                </div>

                                <!-- ปี -->
                                @include('components.filter.year')
                    

                                <!-- รูปแบบตัวถัง -->
                                <div class="card">
                                    <div class="cmn-collapse FilterCarList__container hidden-tablet-down">
                                        <button class="cmn-collapse-header FilterCarList__collapseButton" type="button"
                                            data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                            aria-controls="collapseFive">

                                            <span
                                                class="cmn-typo-subheader FilterCarList__titleButton">รูปแบบตัวถัง</span>
                                            <span class="cmn-collapse-header-icon">
                                            </span>
                                            <span class="cmn-collapse-text-value">
                                            </span>
                                        </button>
                                    </div>


                                    <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        @include('components.filter.body_style')
                                    </div>
                                </div>

                                <!-- ระยะวิ่ง -->
                                @include('components.filter.miles')
                                

                                <!-- สี -->
                                <div class="card">
                                    <div class="cmn-collapse FilterCarList__container hidden-tablet-down">
                                        <button class="cmn-collapse-header FilterCarList__collapseButton" type="button"
                                            data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false"
                                            aria-controls="collapseSeven">

                                            <span class="cmn-typo-subheader FilterCarList__titleButton">สี</span>
                                            <span class="cmn-collapse-header-icon">
                                            </span>
                                            <span class="cmn-collapse-text-value">
                                            </span>
                                        </button>
                                    </div>

                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        @include('components.filter.color')
                                    </div>
                                </div>
                            </div>
                            {{--  กรองโดยcarmana  --}}
                            @include('components.filter.filterbycarmana')
                        </div>
                    </div>
                    
                    {{--  ใน body  --}}
                    <div class="content-container">
                        {{--  เมนูบนแสดงรถ  --}}
                        @include('components.filter_topcars')
                                                
                        <div class="car-list-container">
                            <div class="CarListContainer__root">                              
                                <div class="CarListContainer__blockCarlist">
                                    <div class="CarListContainer__filter">
                                        <div class="CarListContainer__filterResult">
                                            <span>พบรถบ้านมือสอง 
                                                @include('components.count_cars')
                                            </span>
                                            
                                            
                                            <div class="CarListContainer__filterBoxOnDesktop">
                                                <div class="filter-box-container undefined">
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div class="filter-box-container"></div>
                                                    <div></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    {{--  map ข้อมูลรถ  --}}
                                    <div class="CarListContainer__carList">                              
                                     @include('components.carlist')
                                       
                                              
                                    </div>
                                </div>
                                <div class="CarListContainer__Pagination">                              
                                        
                                    @include('components.pagination2')                                                                                           
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        @include('point.footer')

        <div class="cookie-container"> </div>
    </div>
    </div>
</body>



    <!-- <script>
        ! function (e, t, n, a, c, o, s) {
            e.fbq || (c = e.fbq = function () {
                c.callMethod ? c.callMethod.apply(c, arguments) : c.queue.push(arguments)
            }, e._fbq || (e._fbq = c), (c.push = c).loaded = !0, c.version = "2.0", c.queue = [], (o = t.createElement(n)).async = !0, o.src = "https://connect.facebook.net/en_US/fbevents.js", (s = t.getElementsByTagName(n)[0]).parentNode.insertBefore(o, s))
        }(window, document, "script"), fbq.disablePushState = !0, fbq("init", "417225671955417"), fbq("track", "PageView")
    </script>
    <script>
        window.prerenderReady = !1
    </script>
    <div id="fb-root" class=" fb_reset">
        <div style="position: absolute; top: -10000px; width: 0px; height: 0px;">
            <div></div>
        </div>
        <div class="fb-customerchat fb_invisible_flow fb_iframe_widget" attribution="setup_tool"
            page_id="1570457013244245" greeting_dialog_display="hide" fb-xfbml-state="rendered"
            fb-iframe-plugin-query="app_id=232384267668484&amp;attribution=setup_tool&amp;container_width=0&amp;current_url=https%3A%2F%2Fcarmana.com%2Fcars&amp;greeting_dialog_display=hide&amp;locale=th_TH&amp;page_id=1570457013244245&amp;request_time=1632408869650&amp;sdk=joey">
            <span style="vertical-align: bottom; width: 1000px; height: 0px;"><iframe name="f3e78bd646795f4"
                    width="1000px" height="1000px" data-testid="dialog_iframe" title="" frameborder="0"
                    allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                    src="https://www.facebook.com/v3.2/plugins/customerchat.php?app_id=232384267668484&amp;attribution=setup_tool&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfc4f6592be437c%26domain%3Dcarmana.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fcarmana.com%252Ff1cec68799bf754%26relation%3Dparent.parent&amp;container_width=0&amp;current_url=https%3A%2F%2Fcarmana.com%2Fcars&amp;greeting_dialog_display=hide&amp;locale=th_TH&amp;page_id=1570457013244245&amp;request_time=1632408869650&amp;sdk=joey"
                    style="padding: 0px; position: fixed; z-index: 2147483646; border-radius: 16px; top: auto; width: 247px; max-height: calc(100% - 80px); background: none; bottom: 96px; right: 4px; margin-right: 12px; animation: 6s ease-out 0s 1 normal none running slideInFromBottomDelay; height: 72px;"
                    class=""></iframe></span>
        </div>
        <div class="fb_dialog  fb_dialog_advanced" alignment="right" desktop_bottom_spacing="24">
            <div class="fb_dialog_content"><iframe name="blank_f3e78bd646795f4" width="60px" tabindex="-1"
                    data-testid="bubble_iframe" frameborder="0" allowtransparency="true" allowfullscreen="true"
                    scrolling="no" allow="encrypted-media"
                    src="https://www.facebook.com/v3.2/plugins/customer_chat/bubble"
                    style="animation: 3s ease-out 0s 1 normal none running slideInFromBottomDelay; background: none; bottom: 24px; display: block; margin: 0px 12px; overflow: visible; padding: 0px; position: fixed; top: auto; z-index: 2147483644; border-radius: 30px; box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px 0px; height: 60px; width: 60px; right: 12px;"></iframe>
                <iframe name="unread_f3e78bd646795f4" tabindex="-1" data-testid="unread_iframe" frameborder="0"
                    allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                    src="https://www.facebook.com/v3.2/plugins/customer_chat/bubble"
                    style="bottom: 68px; position: fixed; width: 20px; height: 24px; z-index: 2147483645; border-radius: 4pt; background: none; right: 22px;"></iframe>
            </div>
        </div>
    </div>
    <script>
        async function getApi() {
            let results = await fetch('https://api-partial.carmana.com/api/holiday_banner');
            let datas = await results.text();
            return datas;
        }
    </script>
    <script>
        const checkHoliday = async () => {
            let dataFromApi = !!(await getApi())?.length;

            let starttime = new Date();
            let endtime = new Date();
            let current = new Date();
            //วันเสาร์
            if (current.getDay() === 6) {
                starttime = new Date(current.getFullYear(), current.getMonth(), current.getDate(), 9, 0, 0, 0);
                endtime = new Date(current.getFullYear(), current.getMonth(), current.getDate(), 18, 30, 0, 0);
            }
            //วันปกติ
            if (current.getDay() > 0 && current.getDay() < 6) {
                starttime = new Date(current.getFullYear(), current.getMonth(), current.getDate(), 9, 0, 0, 0);
                endtime = new Date(current.getFullYear(), current.getMonth(), current.getDate(), 19, 0, 0, 0);
            }
            // คำนวนเวลา
            if ((current.getDay() > 0 && current > starttime && current < endtime) && dataFromApi === false) {
                console.log('เวลาทำการ');
                window.fbAsyncInit = function () {
                    FB.init({
                        appId: '232384267668484',
                        autoLogAppEvents: true,
                        xfbml: true,
                        version: 'v3.2'
                    });
                };

                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/th_TH/sdk/xfbml.customerchat.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            } else {
                console.log('นอกเวลาทำการ');
                document.getElementById("fb-root").remove();
            }
        }

        checkHoliday();
    </script>
    <script type="text/javascript" src="/static/js/main.b2ec30e7.js"></script>

    <script type="text/javascript" id="">
        (function (a, b, d) {
            a._ltq = a._ltq || [];
            a._lt = a._lt || function () {
                a._ltq.push(arguments)
            };
            var e = "https:" === location.protocol ? "https://d.line-scdn.net" : "http://d.line-cdn.net",
                c = b.createElement("script");
            c.async = 1;
            c.src = d || e + "/n/line_tag/public/release/v1/lt.js";
            b = b.getElementsByTagName("script")[0];
            b.parentNode.insertBefore(c, b)
        })(window, document);
        _lt("init", {
            customerType: "lap",
            tagId: "e2474d96-cb87-4081-a353-b35eb186caad"
        });
        _lt("send", "pv", ["e2474d96-cb87-4081-a353-b35eb186caad"]);
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://tr.line.me/tag.gif?c_t=lap&amp;t_id=e2474d96-cb87-4081-a353-b35eb186caad&amp;e=pv&amp;noscript=1">
    </noscript>
    <script type="text/javascript" id="">
        "gtm.js" === google_tag_manager["GTM-NS6456S"].macro(4) && window.dataLayer.push({
            originalLocation: document.location.protocol + "//" + document.location.hostname + document.location.pathname + document.location.search
        });
    </script>
    <script type="text/javascript" id="">
        "gtm.js" === google_tag_manager["GTM-NS6456S"].macro(9) && window.dataLayer.push({
            originalLocation: document.location.protocol + "//" + document.location.hostname + document.location.pathname + document.location.search
        });
    </script> -->
    <script>
        function openLeftMenu() {
            document.getElementById("leftMenu").style.display = "block";
        }

        function closeLeftMenu() {
            document.getElementById("leftMenu").style.display = "none";
        }

        function openRightMenu() {
            document.getElementById("rightMenu").style.display = "block";
        }

        function closeRightMenu() {
            document.getElementById("rightMenu").style.display = "none";
        }

                
        function addQuery(url, query, value, oldVaue = '', force = false) {
            url +=  String(url).includes('?') ? '' : '?'
            if (force){
                return `${url}&${query}=${value}`
            }
            if (String(url).includes(`${query}=${oldVaue}`)){
                let regexForReplace = new RegExp(`${query.replace("[","\\[").replace("]","\\]") }=${oldVaue || '.*?' }(&|$)`)
                return String(url).replace(regexForReplace, `&${query}=${value}&`).replace(/\&\&*/g, '&').replace(/\&$/g, '')
            }
            return `${url}&${query}=${value}`.replace(/\&\&*/g, '&').replace(/\&$/g, '')
        }

        function removeQuery(queryName, value = '', removeAll = false) {
            let url = window.location.pathname + window.location.search
            let regexForReplace = new RegExp(`${queryName.replace("[",'\\[').replace("]","\\]") }=${value || '.*?' }(&|$)`, removeAll ? 'g' : '')
            console.log(String(regexForReplace))
            return String(url).replace(regexForReplace, '')
        }
    </script>

    

</body>

</html>